<div class="conteiner">
    <div class="conteiner-title">
        <h1 class="title">Contact</h1>
        <hr>
    </div>
    <p class="text">Let's make a team!</p>
    <form class="sendMessage">
        <div class="div-name-email">
            <input class="imp-message inp-email-name" placeholder="Your Name">
            <input class="imp-message inp-email-name" placeholder="Your Email">
        </div>
        <input class="imp-message" placeholder="Subject">
        <textarea class="message" placeholder="Message" rows="8" formControlName="message"></textarea>
        <button type="submit" title="Send Message" class="btn">Send Message</button>
    </form>
</div>