<div class="conteiner">
    <app-section-title title="Skills"></app-section-title>
    <div class="title-secundary-conteiner">
        <img class="title-secundary-icon" src="assets/skills/titleIcons/habilidades.svg" alt="technical">
        <h2 class="title-secundary">Technical</h2>
    </div>
    <div class="technical-list">
        <app-tecnicalItem
            *ngFor="let item of items.technical"
            [item_technical]="item"
        ></app-tecnicalItem>
    </div>
    <div class="title-secundary-conteiner">
        <img class="title-secundary-icon" src="assets/skills/titleIcons/apreton-de-manos.svg" alt="soft">
        <h2 class="title-secundary">Soft</h2>
    </div>
    <div class="softskils-lists">
        <app-softSkillItem
        *ngFor="let item of items.softs; let i = index"
        [num]="i+1"
        [softSkill]="item" 
        ></app-softSkillItem>   
    </div>
    <div class="title-secundary-conteiner">
        <img class="title-secundary-icon" src="assets/skills/titleIcons/idioma.svg" alt="">
        <h2 class="title-secundary">Lenguages</h2>
    </div>
    <div class="lenguage-list">
        <div class="lenguage-container">
            <div class="level">
                <p>N</p>
            </div>
            <div class="lenguage">
                <p>Spanish</p>
            </div>
        </div>
        <div  class="lenguage-container">
            <div class="level">
                <p>A2</p>
            </div>
            <div class="lenguage">
                <p>English</p>
            </div>
        </div>
    </div>
</div>