.projects-buttons-list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-button{
    padding: 0.2rem;
    width: 15%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--orange-color);

    color: var(--white-color);
    font-size: 20px;
    font-family: 'gentiumPlus-italic';

    cursor: pointer;
}

.project-button-press{
    padding: 0.2rem;
    width: 15%;
    background-color: transparent;

    color: var(--white-color);
    font-size: 20px;
    font-family: 'gentiumPlus-italic';
    cursor: pointer;
    border: none;
    border-top: 2px solid var(--orange-color);
    border-left: 2px solid var(--orange-color);
    border-right: 2px solid var(--orange-color);
}

.projects-container{
    min-height: 500px;
    margin-top: 30px;
}

.project-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 20px;
    animation: zoomIn 1s ease-in-out; 
    justify-items: center;
    align-items: center;
}

@keyframes zoomIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.project-item{
    margin: 10px 0;
}

@media only screen and (max-width: 700px) {
    .project-button, .project-button-press{
        width: 30%; 
    }
}

@media  only screen and (max-width: 1500px) {
    .project-list{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

@media  only screen and (max-width: 680px) {
    .project-list{
        grid-template-columns: 1fr;
        grid-template-rows: auto
    }
}