<div class="conteiner">
	<app-section-title title="Projects"></app-section-title>
	<section id="thesis-section">
		<div id="thesis-conteiner">
			<div>
				<h3>Thesis</h3>
			</div>
			<h4>Titulo</h4>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum autem ullam molestias quasi ea vitae possimus corporis. Quis, tenetur laudantium deserunt reprehenderit, necessitatibus accusamus sequi ab provident iste repellendus error!</p>
		</div>
	</section>
	<app-projectList [projects]="projects.professional"></app-projectList>
	<app-projectList [projects]="projects.personal"></app-projectList>
	<app-projectList [projects]="projects.academy"></app-projectList>
</div>