#thesis-section{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#thesis-section #thesis-conteiner {
    height: 90%;
    width: 80%;
    background-color: var(--background-secundary);
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
}