.projects-buttons-list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-button{
    padding: 0.2rem;
    width: 15%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--orange-color);

    color: var(--white-color);
    font-size: 20px;
    font-family: 'gentiumPlus-italic';

    cursor: pointer;
}

.project-button-press{
    padding: 0.2rem;
    width: 15%;
    background-color: transparent;

    color: var(--white-color);
    font-size: 20px;
    font-family: 'gentiumPlus-italic';
    cursor: pointer;
    border: none;
    border-top: 2px solid var(--orange-color);
    border-left: 2px solid var(--orange-color);
    border-right: 2px solid var(--orange-color);
}