@font-face {
    font-family: 'gentiumPlus-italic';
    src: url('../../../../assets/fonts/GentiumPlus-Italic.ttf');
}

img{
    width: 100%;
}

.item-content{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100px;
    margin: 10px 50px;
    transition: transform 0.3s ease;
}

.item-content:hover{
    transform: scale(1.1);
}

p{
    font-family: 'gentiumPlus-italic';
    color: #f2f2f2;
    font-size: 20px;
    margin-top: 10px;
}