.conteiner-info-img{
    width: 100%;
}


.conteiner-info{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 0 0 10px 10px;
    background-color: var(--background-container);

    margin-bottom: 10px;
}

.conteiner-img{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    border-radius: 10px 0;
}

.conteiner-img::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: var(--background-container);
    border-radius: 10px 10px 0 0;
    z-index: -1;
}

.per-img{
    border-radius: 10px;
    width: 80%;
}

.name{
    text-align: center;
    font-size: 25px;
    color: var(--white-color);
    font-family: 'gentiumPlus-bold';
    margin: 5px 0;
}

.job{
    color: var(--white-color);
    margin: 5px 0;
    font-family: 'gentiumPlus-bold';
}

/* Networks List Styles */

.networks-list{
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin: 15px 0;
}

.github, .linkedin, .twitter{
    width: 40px;
    height: 40px;
}

.color-network{
    fill: var(--white-color);
}

.network-link:hover .color-network{
    fill: var(--orange-color);
}

/* Personal Data Styles*/

.personal-data{
    width: 93%;

    background-color: var(--background-secundary);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);

    border-radius: 10px;

    margin: 15px 0;
}

.item-per-data{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;

    margin: 15px 0;
    padding-left: 5%;
}

.contenier-text{
    height: auto;
    overflow-wrap: break-word;
}

.location, .email{
    width: 90%;
    height: 90%;
}

.phone{
    width: 80%;
    height: 80%;
}

.img-per-data{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    background-color: #222222;
    border-radius: 10px;

    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin-right: 8px;
}

.per-info-text{
    font-family: 'gentiumPlus-bold';
    font-size:1rem;
}

.personal-data hr{
    width: 80%;
    background-color: #999999;
}

.data-label{
    font-family: 'gentiumPlus-italic';
}

/* Download CV button*/

.down-cv-button{
    background-color: var(--orange-color);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);

    padding: 10px 20px;
    margin-bottom: 15px;

    border-radius: 10px;
    border: none;

    color: var(--white-color);
    font-family: 'gentiumPlus-boldItalic';
    
    cursor: pointer;
    text-decoration: none;
    transition: 300ms ease-in-out;
}

.down-cv-button:hover{
    background-color: var(--white-color);

    color: var(--orange-color);
}

@media only screen and (max-width: 1200px) {

    .per-img{
        width: 340px;
    }

}

@media only screen and (max-width: 600px) {

    .per-img{
        width: 250px;
    }

}

