.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-auto-rows: 350px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.title-icon-orange{
  color: var(--orange-color);
}

.title-icon-blue{
  color: rgb(96 165 250);
}

.title-icon-green{
  color: rgb(74 222 128);
}

.title h2 {
  font-size: 25px;
  margin-left: 15px;
  font-family: 'Bold';
  color: var(--white-color);
}


@media screen and (max-width: 1500px) and (min-width: 768px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .projects {
    grid-template-columns: repeat(1, 1fr);
  }
}