<div class="conteiner">
    <div class="conteiner-title">
        <h1 class="title">About me</h1>
        <hr>
    </div>
    <p>I'm an advance system engineer student with a passion for computing. I currently work as a teaching assistant of the subject Object Oriented Programming. My love for tecnology and the challenge of solving problems motivates me every day. I like to work in a team, collaborate and share knowledge. I'm a communicate person and always I am willing to learn and grow together with my peers.</p>
    <div class="title-secundary-conteiner">
        <img class="title-secundary-icon" src="../../../assets/aboutMe/achievements.svg" alt="achievements">
        <h2 class="title-secundary">Achievements</h2>
    </div>
    
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam unde, illo distinctio architecto sapiente iure vero non impedit hic consequatur cum laborum tempora. Illum quidem, itaque expedita dolorem aut iste!</p>
    <div class="title-secundary-conteiner">
        <img class="title-secundary-icon" src="../../../assets/aboutMe/hobbies.svg" alt="hobbies">
        <h2 class="title-secundary">Hobbies</h2>
    </div>
    <section class="hobbies">
        <img class="icon-hobbie" src="../../../assets/aboutMe/hobbies/gym.svg" alt="gym">
        <img class="icon-hobbie" src="../../../assets/aboutMe/hobbies/nadar.svg" alt="swin">
        <img class="icon-hobbie" src="../../../assets/aboutMe/hobbies/aprender.svg" alt="learning">
        <img class="icon-hobbie" src="../../../assets/aboutMe/hobbies/videosGames.svg" alt="videosgames">
        <img class="icon-hobbie" src="../../../assets/aboutMe/hobbies/watching.svg" alt="watching sport">
    </section>
</div>