<div class="conteiner">
    <div class="conteiner-title">
        <h1 class="title">About me</h1>
        <hr>
    </div>
    <p>I am a Systems Engineer, passionate about technology and committed to excellence in my field. As part of my undergraduate thesis, I developed a segmentation model for endosaccular devices used in the treatment of cerebral aneurysms, based on 3D medical imaging. This project represented an initial contribution to the development of segmentation methods aimed at improving the diagnosis and treatment of this medical condition. My professional goal is to create solutions that not only meet expectations but exceed them, leaving a positive and lasting impact on society and the world of technology.</p>
    <div class="ins-pv">
        <div class="inspirations">
            <div class="title-secundary-conteiner">
                <img class="title-secundary-icon" src="assets/aboutMe/focus.svg" alt="achievements">
                <h2 class="title-secundary">Inspirations</h2>
            </div>
            <p>I am inspired by technological innovations, natural landscapes, and people who strive to improve themselves every day, whose determination and continuous progress motivate me to face challenges and seek excellence.</p>
        </div>
        <div class="personal-values">
            <div class="title-secundary-conteiner">
                <img class="title-secundary-icon" src="assets/aboutMe/tree.svg" alt="achievements">
                <h2 class="title-secundary">Personal values</h2>
            </div>
            <p>I value integrity, passion, and collaboration in everything I do, always striving to be honest, dedicated, and work as a team to achieve common goals.</p>
        </div>
    </div>
    <!--<div class="title-secundary-conteiner">
        <img class="title-secundary-icon" src="assets/aboutMe/achievements.svg" alt="achievements">
        <h2 class="title-secundary">Achievements</h2>
    </div>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam unde, illo distinctio architecto sapiente iure vero non impedit hic consequatur cum laborum tempora. Illum quidem, itaque expedita dolorem aut iste!</p>-->
    <div class="title-secundary-conteiner">
        <img class="title-secundary-icon" src="assets/aboutMe/hobbies.svg" alt="hobbies">
        <h2 class="title-secundary">Hobbies</h2>
    </div>
    <section class="hobbies">
        <img class="icon-hobbie" src="assets/aboutMe/hobbies/gym.svg" alt="gym">
        <img class="icon-hobbie" src="assets/aboutMe/hobbies/nadar.svg" alt="swin">
        <img class="icon-hobbie" src="assets/aboutMe/hobbies/aprender.svg" alt="learning">
        <img class="icon-hobbie" src="assets/aboutMe/hobbies/videosGames.svg" alt="videosgames">
        <img class="icon-hobbie" src="assets/aboutMe/hobbies/watching.svg" alt="watching sport">
    </section>
</div>