<div class="conteiner">
    <div class="conteiner-title">
        <h1 class="title">About me</h1>
        <hr>
    </div>
    <p>I'm an advance system engineer student with a passion for computing. I currently work as a teaching assistant of the subject Object Oriented Programming. My love for tecnology and the challenge of solving problems motivates me every day. I like to work in a team, collaborate and share knowledge. I'm a communicate person and always I am willing to learn and grow together with my peers.</p>
    <h2>Achievements</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam unde, illo distinctio architecto sapiente iure vero non impedit hic consequatur cum laborum tempora. Illum quidem, itaque expedita dolorem aut iste!</p>
    <h2>hobbies</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id labore dolorum vitae itaque reiciendis accusantium, eum earum nihil, laborum commodi quae, autem eos. Veniam veritatis quaerat ipsa possimus modi vero?</p>
</div>