*{
    color: var(--white-color);
}

p{
    text-align: justify;
    font-family: 'bold';
}

.hobbies{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    
}

.icon-hobbie{
    width: 7%;
    transition: transform 0.3s ease;
}

.icon-hobbie:hover{
    transform: scale(1.1);
}

.ins-pv{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.inspirations, .personal-values{
    width: 50%;
}

.inspirations{
    padding-right: 1%;
} 

.personal-values{
    padding-left: 1%;
}


.inspirations img, .personal-values img{
    width: 6%;
}

@media only screen and (max-width: 700px) {
    .ins-pv{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .inspirations, .personal-values{
        width: 100%;
        padding: 0;
    }
}