<main>
  <header>
    <div class="hamburger" title="Menu">
      <input class="checkbox" type="checkbox" [(ngModel)]="seeBurgerMenu.seeBurgerMenu"/>
      <svg fill="none" viewBox="0 0 50 50" height="50" width="50">
        <path
          class="lineTop line"
          stroke-linecap="round"
          stroke-width="4"
          stroke="black"
          d="M6 11L44 11"
        ></path>
        <path
          stroke-linecap="round"
          stroke-width="4"
          stroke="black"
          d="M6 24H43"
          class="lineMid line"
        ></path>
        <path
          stroke-linecap="round"
          stroke-width="4"
          stroke="black"
          d="M6 37H43"
          class="lineBottom line"
        ></path>
      </svg>
    </div>
  </header>
  <div id="hamburger-1200">
    <app-burgerMenu [@fadeAnimation]="seeBurgerMenu.seeBurgerMenu ? 'visible' : 'hidden'" id="menu"/>
  </div>
  <section class="body-cv" *ngIf="!seeBurgerMenu.seeBurgerMenu || isNotMobile" >
    <app-burgerMenu id="hamburger-1400" [@fadeAnimation]="seeBurgerMenu.seeBurgerMenu ? 'visible' : 'hidden'" />
    <section class="personal-info">
      <app-pi></app-pi>
    </section>
    <section class="info">
      <router-outlet></router-outlet>
      <app-copyright></app-copyright>
    </section>
    <section class="sidebar">
      <app-sidebar></app-sidebar>
    </section>
  </section>
</main>