main{
  position: relative;
}

.body-cv{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 2rem;
    width: 100%;

    position: relative;
}

.personal-info{
    width: 23%;
    position: sticky;
    top: 10px;
}

.info{
    width: 65%;
    margin-top: 9.2%;
    position: relative;
}

.sidebar{
    position: sticky;
    top: 10px;
    width: 7%;
    margin-top: 9.2%;
}

header{
    padding: 25px 0;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logo{
    width: 8%;
    margin-left: 7%;
}

.hamburger {
  display: none;
}

#hamburger-1400{
  display: none;
}

  @media only screen and (max-width: 1400px) {

    /*Elements*/

    .personal-info{
      width: 27%;
    }

    .info{
      width: 68%;
      margin-top: 10.8%;
    }

    .sidebar{
      display: none;
    }

    @keyframes slideIn {
      from {
        transform: translateY(-25%);
      }
      to {
        transform: translateY(0);
      }
    }
     

    #hamburger-1400{
      display: block;
      position: absolute;
      top: 0;
      left: 30.7%;
      width: 68%;
    }

    #hamburger-1200{
      display: none;
    }
    
    @keyframes fadeIn {
      0% {
          opacity: 0;
      }
      100% {
          opacity: 1;
      }
    }

    @keyframes fadeOut {
      0% {
          opacity: 1;
      }
      100% {
          opacity: 0;
      }
    }

    /*Hamburger boton*/
    
    .hamburger {
      display: block;
      height: 50px;
      width: 50px;
      margin-right: 1%;
      transform: 0.2s;
      position: relative;
      background-color: var(--background-secundary);
      border-radius: 10px;
    }
    .hamburger .checkbox {
      position: absolute;
      opacity: 0;
      height: 100%;
      width: 100%;
      cursor: pointer;
    }
    .line {
      transition: 0.5s;
      stroke-width: 6px;
      stroke: var(--orange-color);
      filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
    }
    .lineTop {
      stroke-dasharray: 40 40;
      stroke-dashoffset: 25;
    }
    .lineBottom {
      stroke-dasharray: 40 40;
      stroke-dashoffset: 60;
    }
    .lineMid {
      stroke-dasharray: 40 40;
    }
    .hamburger .checkbox:checked + svg .line {
      stroke: var(--orange-color);
    }
    .hamburger .checkbox:checked + svg .lineTop {
      stroke-dashoffset: 0;
      transform-origin: left;
      transform: rotateZ(45deg) translate(-7px, -5px);
    }
    .hamburger .checkbox:checked + svg .lineMid {
      stroke-dashoffset: 40;
    }
    .hamburger .checkbox:checked + svg .lineBottom {
      stroke-dashoffset: 0;
      transform-origin: left;
      transform: rotateZ(-45deg) translate(-7px, 5px);
    }
  }

  @media only screen and (max-width: 1200px) {
  
    .body-cv{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 2rem;
    }

    .personal-info{
      position:static;
      width: 95%;
    }

    .info{
      width: 95%;
      margin-top: 10px;
    }

    header{
      padding-bottom: 0px;
    }


    #hamburger-1400{
      display: none;
    }

    #hamburger-1200{
      display: grid;
      place-items: center;
      height: 85px;

      #menu{
        width: 96%;
      }
    }
  }

  @media only screen and (max-width: 600px) {

    #hamburger-1200 {
      height: 0px;
      #menu{
        z-index: 1;
      }
    }

  }