.container-burger{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    background-color: var(--background-container);
    border-radius: 10px;
    height: auto;
}

button{
    border: none;
    background-color: transparent;
    color: var(--white-color);
    font-family: 'bold';
    font-size: 1.5rem;

    margin: 10px 0;
}

button:hover{
    color: var(--orange-color);
}

button hr{
    background-color: var(--background-container);
    width: inherit;
    margin: 0;
}

button:hover hr{
    background-color: var(--orange-color);
}

@media only screen and (max-width: 600px) {

  .container-burger{
    flex-direction: column;
    height: 75vh;
  }
}