<div class="container-burger-principal">
    <div class="container-burger">
        <button (click)="onNavigateTo('aboutMe')">
            About me
            <hr>
        </button>
        <button (click)="onNavigateTo('resume')">
            Resume
            <hr>
        </button>
        <button (click)="onNavigateTo('skills')">
            Skills
            <hr>
        </button>
        <button (click)="onNavigateTo('projects')">
            Projects
            <hr>
        </button>
        <button (click)="onNavigateTo('contact')">
            Contact
            <hr>
        </button>
    </div>
</div>