.conteiner-certification{
    width: 150px;
    height: 75px;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-decoration: none;
    word-wrap: break-word; 
    white-space: normal;
    margin: 0 10px;
}

.conteiner-certification img{
    width: 45%;
    border-radius: 10px;
}

.conteiner-certification p{
    text-align: center;
    color: var(--white-color);
    font-family: 'boldItalic';
    line-height: 1;
    margin-top: 2px;
}