@font-face {
  font-family: 'gentiumPlus-bold';
  src: url('./assets/fonts/GentiumPlus-Bold.ttf');
}

@font-face {
  font-family: 'gentiumPlus-italic';
  src: url('./assets/fonts/GentiumPlus-Italic.ttf');
}

@font-face {
  font-family: 'gentiumPlus-boldItalic';
  src: url('./assets/fonts/GentiumPlus-BoldItalic.ttf');
}

@font-face {
  font-family: 'gentiumPlus-regular';
  src: url('./assets/fonts/GentiumPlus-Regular.ttf');
}

*{
    margin: 0;
    padding: 0;
}

html, body{
  height: 100%;
  width: 100%;
}

:root{
  --background-container: #333333;
  --background-secundary: #666666;
  --white-color: #f2f2f2;
  --orange-color: #ff7f50;
}

body{
    /* Dark mode colors and gradient */
    background: #121212; /* Fallback for browsers that don't support gradients */
    background: linear-gradient(
      135deg,
      #121212 25%,
      #1a1a1a 25%,
      #1a1a1a 50%,
      #121212 50%,
      #121212 75%,
      #1a1a1a 75%,
      #1a1a1a
    );
    background-size: 40px 40px;
  
    /* Animation */
    animation: move 4s linear infinite;
}
  
  @keyframes move {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 40px 40px;
    }
  }
  
.conteiner{
    background-color: var(--background-container);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 0;
    padding: 2%;
}

.title-secundary{
  font-family: 'gentiumPlus-bold';
  font-size: 30px;
  margin: 10px 0px;
  color: var(--white-color);
}

.title-secundary-conteiner{
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-secundary-icon{
  width: 3%;
  margin-right: 10px;
  padding: 5px;
}