.conteiner-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.title-item{
    font-family: 'bold';
    color: var(--white-color);
    font-size: 30px;
}

.conteiner-items{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 15px;
}

.conteiner-title-item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-title{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    flex-shrink: 0;
}


.certification-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 15px;
}

@media screen and (max-width: 900px) {
    .certification-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .certification-grid {
        grid-template-columns: 1fr;
    }
}

