.conteiner-data{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.title-item{
    font-family: 'gentiumPlus-bold';
    color: var(--white-color);
    font-size: 30px;
}

.conteiner-items{
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteiner-title-item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-title{
    width: 8%;
    height: 8%;
    margin-right: 10px;
}

.item-resume{
    margin: 10px 0;
}