<div class="card">
  <h3>Recipe book of the world</h3>
  <section>
    <p>Empresa: TechCorp Solutions</p>
    <p>Rol: Frontend Developer</p>
    <p>Período: 2022 - 2023</p>
  </section>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi placeat nemo accusantium voluptate quas, iure temporibus illum numquam ut quo sapiente distinctio officia. Illo obcaecati natus quod placeat quam earum.</p>
  <div class="tools">
    <span class="tool">React</span>
    <span class="tool">Node.js</span>
    <span class="tool">Mongo DB</span>
    <span class="tool">Docker</span>
    <span class="tool">Mongo DB</span>
    <span class="tool">Docker</span>
  </div>
  <div class="tools">
    <ng-container *ngComponentOutlet="projectLink"></ng-container>
  </div>
</div>