.card {
  width: 90%;
  height: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  overflow: hidden;
  background-color: var(--background-secundary);
  padding: 5%;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: 1px 1px 2.5px black;
  transform: scale(1);
}

section{
  width: 100%;
  margin: 5px 0;
}

.card section p {
  font-family: 'Italic';
  font-size: 13px;
}

.card:hover {
  box-shadow: 2px 2px 5px black;
  transform: scale(1.05);
}

.card h3{
  color: var(--white-color);
  font-family: 'Regular';
}

.card p {
  text-align: justify;
  color: #D1D5DB;
  font-family: 'Regular';
}

.tools, .links {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.tools {
  gap: 10px;
}

.links {
  gap: 20px;
}

.tool {
  padding: 3px 10px;
  font-size: 13px;
  color: var(--white-color);
  background-color: var(--background-container);
  border-radius: 999px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  font-family: 'Regular';
}

.item-header{
  height: 3%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-header .project-type{
  color: var(--orange-color);
  font-size: 13px;
}

.item-header .project-class{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.title-icon-orange{
  color: var(--orange-color);
}

.title-icon-blue{
  color: rgb(96 165 250);
}

.title-icon-green{
  color: rgb(74 222 128);
}

.item-header .project-class p{
  color: var(--white-color);
  font-size: 13px;
  margin-left: 8px;
}